---
export const navItems = [
	{
		title: "Home",
		webm: "/assets/animated/red.webm",
		hevc: "/assets/animated/red.mp4",
		href: "/home/",
	},
	{
		title: "Timeline",
		webm: "/assets/animated/chuck.webm",
		hevc: "/assets/animated/chuck.mp4",
		href: "/timeline/",
	},
	{
		title: "Rules",
		webm: "/assets/animated/blues.webm",
		hevc: "/assets/animated/blues.mp4",
		href: "/rules/",
	},
	{
		title: "FAQs",
		webm: "/assets/animated/stella.webm",
		hevc: "/assets/animated/stella.mp4",
		href: "/faqs/",
	},
	{
		title: "Sponsor",
		webm: "/assets/animated/leonard.webm",
		hevc: "/assets/animated/leonard.mp4",
		href: "/sponsor/",
	},
	{
		title: "Contact",
		webm: "/assets/animated/bomb.webm",
		hevc: "/assets/animated/bomb.mp4",
		href: "/contact/",
	},
	{
		title: "About",
		webm: "/assets/animated/ross.webm",
		hevc: "/assets/animated/ross.mp4",
		href: "/about/",
	},
];

function isCurrentPage(href: string) {
	return Astro.url.pathname === href;
}

interface Props {
	class?: string;
}

const { class: className, ...props } = Astro.props;

import NavigationItem from "./navigation-item.svelte";
---

<nav
	class:list={[
		"w-full flex flex-row flex-wrap justify-evenly select-none",
		className,
	]}
	{...props}
>
	{
		navItems.map((item) => (
			<NavigationItem
				client:load
				{item}
				isCurrent={isCurrentPage(item.href)}
			/>
		))
	}
</nav>
